@keyframes bounce {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1); }
  25% {
    opacity: 0;
    transform: translateY(10px) scale(0.9); }
  26% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9); }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1); } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(15deg); }
  95% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'logo menu'; }
  header .logo {
    grid-area: logo;
    padding: 1rem;
    justify-self: start; }
  header .menu {
    grid-area: menu;
    padding: 1rem;
    justify-self: end; }
    header .menu .menu-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header .menu .menu-nav .nav-item {
        display: inline;
        margin-right: 1rem; }
        header .menu .menu-nav .nav-item:last-child {
          margin-right: 0; }
        header .menu .menu-nav .nav-item .theme-btn {
          transition: all 1s ease-out; }
          header .menu .menu-nav .nav-item .theme-btn:hover {
            color: #cccccc; }
        header .menu .menu-nav .nav-item .light-btn {
          cursor: pointer; }
          header .menu .menu-nav .nav-item .light-btn .fa-lightbulb {
            animation: shake 2.5s infinite; }
            header .menu .menu-nav .nav-item .light-btn .fa-lightbulb:hover {
              animation: none; }
            header .menu .menu-nav .nav-item .light-btn .fa-lightbulb.fas {
              color: #d4d4d4; }

* {
  box-sizing: border-box; }

body {
  background: #000;
  color: #44404a;
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background_test.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(0, 0, 0, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

a {
  color: #44404a;
  text-decoration: none; }

header {
  width: 100%; }

.text-secondary {
  color: #3498db; }

main {
  overflow: hidden;
  padding: 1rem;
  min-height: calc(100vh - 60px); }
  main section {
    width: 100%; }
  main #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    main #home .work-section {
      font-size: 1.5rem;
      position: absolute;
      bottom: 1rem;
      font-style: italic;
      font-weight: 400; }
      main #home .work-section .fa-angle-double-down {
        display: block;
        animation-name: bounce;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
  main #contact {
    height: 100vh;
    padding-top: 5rem; }
    main #contact h2 {
      text-align: center; }
  main .icons a {
    padding: 0.4rem; }
    main .icons a:hover {
      color: #3498db;
      transition: all 1s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #3498db; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #0d0d0d;
    padding: 0.5rem;
    border-bottom: 5px solid #3498db; }

#projects .lg-heading {
  text-align: center;
  margin-bottom: 1rem; }

#projects .items {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(12, 1fr); }
  #projects .items .item {
    grid-column: span 4;
    width: 100%;
    max-height: 350px; }
    #projects .items .item.item-1 {
      grid-column: span 3; }
    #projects .items .item.item-2 {
      grid-column: span 6; }
    #projects .items .item.item-3 {
      grid-column: span 3; }
    #projects .items .item.item-4 {
      grid-column: span 4; }
    #projects .items .item.item-5 {
      grid-column: span 3; }
    #projects .items .item.item-6 {
      grid-column: span 5; }
    #projects .items .item.item-7 {
      grid-column: span 8; }
    #projects .items .item.item-8 {
      grid-column: span 4; }

#projects .fa-eye {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  color: #fff; }

#projects img {
  width: 100%;
  border: 3px solid #fff;
  height: 350px;
  object-fit: cover;
  object-position: 50% 0%; }
  #projects img:hover {
    opacity: 0.5;
    border-color: #3498db;
    transition: all 1s ease-out; }

.boxes {
  display: grid;
  margin-top: 30vh;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 0.7rem;
  text-align: center; }
  .boxes div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    transition: all 1s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #3498db;
      color: #d4d4d4; }
      .boxes div:hover span {
        color: #d4d4d4; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: black;
  color: #44404a;
  height: 60px; }

.colorizer-text span,
.colorizer-text a,
.colorizer-icons span,
.colorizer-icons a {
  transition: color 3s;
  transition-delay: 1s; }
  .colorizer-text span.color-1:hover,
  .colorizer-text a.color-1:hover,
  .colorizer-icons span.color-1:hover,
  .colorizer-icons a.color-1:hover {
    transition: color 0s;
    color: #d1495b; }
  .colorizer-text span.color-2:hover,
  .colorizer-text a.color-2:hover,
  .colorizer-icons span.color-2:hover,
  .colorizer-icons a.color-2:hover {
    transition: color 0s;
    color: #facc6b; }
  .colorizer-text span.color-3:hover,
  .colorizer-text a.color-3:hover,
  .colorizer-icons span.color-3:hover,
  .colorizer-icons a.color-3:hover {
    transition: color 0s;
    color: #084c61; }
  .colorizer-text span.color-4:hover,
  .colorizer-text a.color-4:hover,
  .colorizer-icons span.color-4:hover,
  .colorizer-icons a.color-4:hover {
    transition: color 0s;
    color: #1b998b; }
  .colorizer-text span.color-5:hover,
  .colorizer-text a.color-5:hover,
  .colorizer-icons span.color-5:hover,
  .colorizer-icons a.color-5:hover {
    transition: color 0s;
    color: #00798c; }

@media screen and (min-width: 1171px) {
  body .mobile-md {
    display: none; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  body .mobile-lg {
    display: block; }
  body .mobile-md {
    display: none; }
  main .lg-heading.colorizer-text {
    font-size: 4rem;
    letter-spacing: 0; }
  #projects .items .item.item-1 {
    grid-column: span 6; }
  #projects .items .item.item-2 {
    grid-column: span 6; }
  #projects .items .item.item-3 {
    grid-column: span 4; }
  #projects .items .item.item-4 {
    grid-column: span 4; }
  #projects .items .item.item-5 {
    grid-column: span 4; }
  #projects .items .item.item-6 {
    grid-column: span 5; }
  #projects .items .item.item-7 {
    grid-column: span 7; }
  #projects .items .item.item-8 {
    grid-column: span 12; }
  .boxes {
    grid-template-columns: repeat(2, 1fr); }
    .boxes .location {
      grid-column: span 2; } }

@media screen and (max-width: 768px) {
  body .mobile-lg {
    display: none; }
  body .mobile-md {
    display: block; }
  header .menu .menu-nav .nav-item.mobile-lg {
    display: none; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
      main .lg-heading.colorizer-text {
        font-size: 2rem;
        letter-spacing: 0; }
    main #home {
      justify-content: start;
      padding-top: 15vh; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  #projects .items .item.item-1 {
    grid-column: span 6; }
  #projects .items .item.item-2 {
    grid-column: span 6; }
  #projects .items .item.item-3 {
    grid-column: span 6; }
  #projects .items .item.item-4 {
    grid-column: span 6; }
  #projects .items .item.item-5 {
    grid-column: span 6; }
  #projects .items .item.item-6 {
    grid-column: span 6; }
  #projects .items .item.item-7 {
    grid-column: span 6; }
  #projects .items .item.item-8 {
    grid-column: span 6; }
  .boxes {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 500px) {
  #projects .items .item.item-1 {
    grid-column: span 12; }
  #projects .items .item.item-2 {
    grid-column: span 12; }
  #projects .items .item.item-3 {
    grid-column: span 12; }
  #projects .items .item.item-4 {
    grid-column: span 12; }
  #projects .items .item.item-5 {
    grid-column: span 12; }
  #projects .items .item.item-6 {
    grid-column: span 12; }
  #projects .items .item.item-7 {
    grid-column: span 12; }
  #projects .items .item.item-8 {
    grid-column: span 12; } }
