$primary-color: #121212; // light = #fff, dark = #141414
$secondary-color: #d82525;

// colorize
$colorize-pallet-1: #d1495b; //#d1495b;
$colorize-pallet-2: #facc6b; //#facc6b;
$colorize-pallet-3: #084c61; //#084c61;
$colorize-pallet-4: #1b998b; //#1b998b;
$colorize-pallet-5: #00798c; //#00798c;

// background image
$show-home-image: false;
$show-about-image: false;
$home-image: url(../img/background_test.jpg);
$about-image: url(../img/about_background.jpeg);
$background-position: fixed;
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: $background-position;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
  @if $show-about-image {
    &#about-bg-img {
      background: $about-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: $background-position;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #d4d4d4;
  } @else {
    @return #fff;
  }
}

// Animate
@keyframes bounce {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(25deg);
  }
  95% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
