$primary-color: #141414; // light = #fff, dark = #141414
$secondary-color: #eece1a;
$show-home-image: false;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

@mixin tooltip {
  &:after {
    content: 'Disable Color';
    color: lighten($primary-color, 50);
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 0;
    width: 13vw;
    height: 2vh;
    z-index: -1;
    background: set-text-color($primary-color);
    border-radius: 25px;
    line-height: 1.9;
  }
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #d4d4d4;
  } @else {
    @return #292929;
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
