header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'logo menu';

  .logo {
    grid-area: logo;
    padding: 1rem;
    justify-self: start;
  }

  .menu {
    grid-area: menu;
    padding: 1rem;
    justify-self: end;

    .menu-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      .nav-item {
        display: inline;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        .theme-btn {
          @include easeOut;

          &:hover {
            color: lighten($primary-color, 80);
          }
        }

        .light-btn {
          cursor: pointer;

          .fa-lightbulb {
            animation: shake 2.5s infinite;
            &:hover {
              animation: none;
            }
            &.fas {
              color: set-text-color($secondary-color);
            }
          }
        }
      }
    }
  }
}
