// widescreen
@include mediaXl {
  body {
    .mobile-md {
      display: none;
    }
  }
}
// desktops & laptops
@include mediaLg {
  body {
    .mobile-lg {
      display: block;
    }
    .mobile-md {
      display: none;
    }
  }
  main {
    .lg-heading {
      &.colorizer-text {
        font-size: 4rem;
        letter-spacing: 0;
      }
    }
  }

  #projects {
    .items {
      .item {
        &.item-1 {
          grid-column: span 6;
        }
        &.item-2 {
          grid-column: span 6;
        }
        &.item-3 {
          grid-column: span 4;
        }
        &.item-4 {
          grid-column: span 4;
        }
        &.item-5 {
          grid-column: span 4;
        }
        &.item-6 {
          grid-column: span 5;
        }
        &.item-7 {
          grid-column: span 7;
        }
        &.item-8 {
          grid-column: span 12;
        }
      }
    }
  }
  .boxes {
    grid-template-columns: repeat(2, 1fr);

    .location {
      grid-column: span 2;
    }
  }
}
// tablets ands small laptops
@include mediaMd {
  body {
    .mobile-lg {
      display: none;
    }
    .mobile-md {
      display: block;
    }
  }
  header {
    .menu {
      .menu-nav {
        .nav-item {
          &.mobile-lg {
            display: none;
          }
        }
      }
    }
  }
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;

      &.colorizer-text {
        font-size: 2rem;
        letter-spacing: 0;
      }
    }
    #home {
      justify-content: start;
      padding-top: 15vh;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  #projects {
    .items {
      .item {
        &.item-1 {
          grid-column: span 6;
        }
        &.item-2 {
          grid-column: span 6;
        }
        &.item-3 {
          grid-column: span 6;
        }
        &.item-4 {
          grid-column: span 6;
        }
        &.item-5 {
          grid-column: span 6;
        }
        &.item-6 {
          grid-column: span 6;
        }
        &.item-7 {
          grid-column: span 6;
        }
        &.item-8 {
          grid-column: span 6;
        }
      }
    }
  }
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
// smartphones
@include mediaSm {
  #projects {
    .items {
      .item {
        &.item-1 {
          grid-column: span 12;
        }
        &.item-2 {
          grid-column: span 12;
        }
        &.item-3 {
          grid-column: span 12;
        }
        &.item-4 {
          grid-column: span 12;
        }
        &.item-5 {
          grid-column: span 12;
        }
        &.item-6 {
          grid-column: span 12;
        }
        &.item-7 {
          grid-column: span 12;
        }
        &.item-8 {
          grid-column: span 12;
        }
      }
    }
  }
}
