@import 'config';
@import 'menu';
// Used to help code based on the box model
// Removes unessesary margin and padding that is added by default
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;

  // Mulitplier of the HTML (<html>) tag font size.
  // Default font size is 16px. 1rem = 16px, 6rem = 16 * 6 = 96px
  &.lg-heading {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1;
  }

  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  width: 100%;
  font-size: 1.2rem;
}

.text-secondary {
  color: $secondary-color;
}

main {
  overflow: hidden;
  section {
    width: 100%;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    .work-section {
      display: none;
      font-size: 1rem;
      position: absolute;
      bottom: 1rem;
      .fa-angle-double-down {
        display: block;
        animation-name: bounce;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  #contact {
    padding-top: 5rem;
    h2 {
      text-align: center;
    }
  }
  padding: 1rem;
  //height: 100%;

  // sticky footer rule.
  //100vh is the whole height of the screen.
  //we then take away the height of the footer.
  min-height: calc(100vh - 60px);

  .icons {
    //margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

//about page
#about {
  text-align: left;
  .headings {
    text-align: center;
    .download-cv {
      position: relative;
    }
    .far.fa-file-alt {
      &:hover {
        color: $colorize-pallet-2;
      }
    }
    .tool-tip {
      display: none;
      font-size: 11px;
      position: absolute;
      right: -90px;
      top: 61px;
    }
  }
  .about-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;

    .experience {
      div {
        border-bottom: 1px solid set-text-color($primary-color);
        margin-bottom: 1em;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }

    .info-box {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      padding: 1rem 0;
      border-bottom: 1px solid set-text-color($primary-color);
      &:last-child {
        border-bottom: none;
      }

      h2 {
        padding: 0;
        margin: 0;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
    .color-1 {
      color: $colorize-pallet-1;
    }
    .color-2 {
      color: $colorize-pallet-2;
    }
    .color-3 {
      color: $colorize-pallet-4;
    }
  }
}

// work/projects page
#projects {
  .lg-heading {
    text-align: center;
    margin-bottom: 3rem;
  }
  .items {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    .item {
      grid-column: span 4;
      width: 100%;
      max-height: 350px;
      position: relative;
      &.item-1 {
        grid-column: span 3;
      }
      &.item-2 {
        grid-column: span 6;
      }
      &.item-3 {
        grid-column: span 3;
      }
      &.item-4 {
        grid-column: span 4;
      }
      &.item-5 {
        grid-column: span 3;
      }
      &.item-6 {
        grid-column: span 5;
      }
      &.item-7 {
        grid-column: span 8;
      }
      &.item-8 {
        grid-column: span 4;
      }
    }
  }
  img {
    width: 100%;
    max-height: 135px;
    object-fit: cover;
    object-position: 50% 0%;
  }
}

// contact page
.boxes {
  display: grid;
  margin-top: 8vh;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 1.5rem;
  text-align: center;

  .box a {
    display: block;
    font-size: 2rem;
    border: 3px solid set-text-color($primary-color);
    padding: 1.5rem 2.5rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// colorizer styles
.colorizer-text,
.colorizer-icons {
  span,
  a {
    transition: color 3s;

    &.color-1:hover {
      transition: color 0s;
      color: $colorize-pallet-1;
    }
    &.color-2:hover {
      transition: color 0s;
      color: $colorize-pallet-2;
    }
    &.color-3:hover {
      transition: color 0s;
      color: $colorize-pallet-3;
    }
    &.color-4:hover {
      transition: color 0s;
      color: $colorize-pallet-4;
    }
    &.color-5:hover {
      transition: color 0s;
      color: $colorize-pallet-5;
    }
  }
}
@import 'dark';
@import 'light';
@import 'mobile';
