@import 'config';
@import 'menu';
// Used to help code based on the box model
// Removes unessesary margin and padding that is added by default
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;

  // Mulitplier of the HTML (<html>) tag font size.
  // Default font size is 16px. 1rem = 16px, 6rem = 16 * 6 = 96px
  &.lg-heading {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1;
  }

  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  width: 100%;
  font-size: 1.2rem;
}

.text-secondary {
  color: $secondary-color;
}

main {
  overflow: hidden;
  section {
    width: 100%;
  }
  #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      // vh stands for viewport height
      // think of the height as 100 slices across
      // if you take up 20vh you effectively take up 20% of the screens height
      // if you take 50vh then it is half
      // 100vh is the whole
      //margin-top: 10vh;
    }

    .work-section {
      font-size: 1rem;
      position: absolute;
      bottom: 1rem;
      .fa-angle-double-down {
        display: block;
        animation-name: bounce;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  #contact {
    height: 100vh;
    padding-top: 5rem;
    h2 {
      text-align: center;
    }
  }
  padding: 1rem;
  //height: 100%;

  // sticky footer rule.
  //100vh is the whole height of the screen.
  //we then take away the height of the footer.
  min-height: calc(100vh - 60px);

  .icons {
    //margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

//about page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 5px solid $secondary-color;
  }
}

// work/projects page
#projects {
  .lg-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  .items {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(12, 1fr);
    .item {
      grid-column: span 4;
      width: 100%;
      max-height: 350px;
      position: relative;
      &.item-1 {
        grid-column: span 3;
      }
      &.item-2 {
        grid-column: span 6;
      }
      &.item-3 {
        grid-column: span 3;
      }
      &.item-4 {
        grid-column: span 4;
      }
      &.item-5 {
        grid-column: span 3;
      }
      &.item-6 {
        grid-column: span 5;
      }
      &.item-7 {
        grid-column: span 8;
      }
      &.item-8 {
        grid-column: span 4;
      }
    }
  }
  img {
    width: 100%;
    border: 3px solid #fff;
    max-height: 170px;
    object-fit: cover;
    object-position: 50% 0%;
  }
}

// contact page
.boxes {
  display: grid;
  margin-top: 30vh;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 0.7rem;
  text-align: center;

  .box a {
    display: block;
    font-size: 2rem;
    border: 3px solid set-text-color($primary-color);
    padding: 1.5rem 2.5rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// colorizer styles
.colorizer-text,
.colorizer-icons {
  span,
  a {
    transition: color 3s;
    transition-delay: 1s;

    &.color-1:hover {
      transition: color 0s;
      color: $colorize-pallet-1;
    }
    &.color-2:hover {
      transition: color 0s;
      color: $colorize-pallet-2;
    }
    &.color-3:hover {
      transition: color 0s;
      color: $colorize-pallet-3;
    }
    &.color-4:hover {
      transition: color 0s;
      color: $colorize-pallet-4;
    }
    &.color-5:hover {
      transition: color 0s;
      color: $colorize-pallet-5;
    }
  }
}

@import 'mobile';
